.titulo1 {
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
    color: #2F2F2F;
    font-size: 24px;
    font-weight: bold;
}

p {
    font-family: 'Roboto', 'Open Sans', sans-serif !important;
    font-size: 14px;
}

.subtitulo {
    color: #00A5CF;
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
    font-size: 18px;
    font-weight: bold;
}

ol li {
    font-family: 'Roboto', 'Open Sans', sans-serif !important;
    font-size: 14px;
}

#fundo {
    background-color:rgba(242,242,242,0.7);
}