/*main titles*/
.main_title {

    font-size: 1.3rem;
    font-family: "Quicksand";
    font-weight: bold;
    max-width: 100%;
    margin-top: 5%;
}



/*cards highlights*/
.sub_title {
    font-size: 1.2rem;
    font-family: "Quicksand";
    font-weight: bolder;
}

.description_title {
    font-size: 1.0rem;
    font-family: "Roboto";
    font-weight: normal;
}

.container_highlights1 {
    display: inline-block;
}

.container_highlights {
    display: flex;
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    -webkit-display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.cards {
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}



@media (min-width: 40rem) {
    .cards {
        width: 50%;
    }
}
@media (min-width: 56rem) {
    .cards {
        width: 33.3%;
    }
}
.cards .card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
}
.cards .card-item:hover {

    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.cards .card-info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.5em;
    background-color: #FEF8CE;
}
.cards .card-title {

    line-height: 1.1em;
    color: black;
    margin-bottom: 0.2em;
}
.cards .card-image {
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
    opacity: 0.91;
}


/*cards links*/
#footer {
    text-align: center;
    font-size: 1rem;
    font-family: "Quicksand";
    font-weight: bold;
}
.credit {
    font-size: 12px;
    float:bottom;
    text-align: center;
    padding-right: 4%;
}

.link_info {

    font-size: 0.7rem;
    color: #2f2f2f;
    padding-top: 6%;
}

.link_title {
    font-weight: bold;
    font-size: 1rem;
}

.link_subtitle {

    font-size: 0.9rem;
}
#wrapper {
    margin: auto;
    width: 750px;
    max-width: 100%;
    padding: 35px 5px 20px 35px;
    background: #fff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.17);
    border-radius: 10px;
}

#recenttags {
    margin-bottom: 15px;
}

img.tagpost_thumb {
    float: left;
    margin-right: 12px;
    height: 95px;
    width: 90px;
    transition: all 1s;
    border-radius: 10px;
}
.taglabel {
    display: inline-block;
    float: left;
    width: 100%;
    padding: 0;
    margin: auto;
    border: none;
    /*text-align: center;*/


}
ul.taglabel li {
    padding: 5px 0;
    min-height: 95px;
}
#tagpost-top,
#tagpost-bottom {
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
}
#tagpost-top .widget ul,
#tagpost-bottom .widget ul {
}
#tagpost-top .widget,
#tagpost-bottom .widget {
    position: relative;
    display: block;

}

#tagpost-bottom .widget {
    margin-top: 10px;
}
#tagpost-top .widget ul,
#tagpost-bottom .widget ul {
    list-style: none;
    margin-bottom: -15px;
    padding: 0;
}
#tagpost-top .widget ul li,
#tagpost-bottom .widget ul li {
    display: block;
    font-size: 12px;
    font-family: inherit;
    width: 47%;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 0;
    transition: all 0.6s;
}
#tagpost-top .widget ul li:hover,
#tagpost-bottom .widget ul li:hover {
    border-bottom-color: #bbb;
}
#tagpost-top .widget li:last-child,
#tagpost-bottom .widget li:last-child {
    border-bottom: none;
}
#tagpost-top .widget ul li a,
#tagpost-bottom .widget ul li a {

}
#tagpost-top .widget ul li a:hover,
#tagpost-bottom .widget ul li a:hover {
    color: #444;
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    .taglabel {
        display: block;
        float: left;
        width: 100%;
        padding: 0;
        margin: auto;
        border: none;
        /*text-align: center;*/


    }

    #tagpost-top .widget ul li,
    #tagpost-bottom .widget ul li {
        display: block;
        font-size: 12px;
        font-family: inherit;
        width: 100%;
        float: left;
        margin-bottom: 15px;
        margin-right: 15px;
        padding: 0;
        transition: all 1s;
    }

    #wrapper {
        margin: auto;
        width: 750px;
        max-width: 100%;
        padding: 20px;
        background: #fff;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.17);
        border-radius: 10px;

    }
    .main_title {

        font-size: 1.6rem;
        font-family: "Quicksand";
        font-weight: bold;
        max-width: 100%;
        text-align: center;
        margin-top: 2%;

    }
    .credit {
        font-size: 12px;
        float:bottom;
        text-align: center;

    }
}
