#fundo {
    background-color:rgba(242,242,242,0.7);
}

.main_title {
    font-size: 22px;
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
    font-weight: bold;
    max-width: 100%;
    margin-top: 5%;
}

a:hover {
    text-decoration: none;
}

* {
    color: #2f2f2f;
}

.sub_title {
    font-size: 18px;
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
    font-weight: bolder;
}

.description_title {
    font-size: 14px;
    font-family: 'Roboto', 'Open Sans', sans-serif !important;
    font-weight: normal;
}
.description_title2 {
    font-size: 16px;
    font-family: 'Roboto', 'Open Sans', sans-serif !important;
    font-weight: normal;
}

.container_highlights1 {
    display: inline-block;
}

.container_highlights {
    display: flex;
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    -webkit-display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.cards {
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 380px;
}

@media (min-width: 40rem) {
    .cards {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards {
        width: 33.3%;
    }
}

.cards .card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
}

.cards .card-info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.5em;
    background-color: white;
}

.cards .card-title {
    line-height: 1.1em;
    color: #2F2F2F;
    margin-bottom: 0.2em;
}

.cards .card-image {
    height: 200px;
    overflow: hidden;
    background-size:cover !important;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0px 0px;
    opacity: 0.91;
}

.btn_cards {
    color: #2F2F2F;
    padding: 0.3rem;
    font-size: 14px;
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
    border-bottom: 0.1em solid #00A5CF;
    font-weight: 800;
    display: block;
    margin: auto;
    width: 80%;
    cursor: pointer;
    background: #fff;
}

.btn_cards:hover {
    color: #00A5CF;
}
.imagem {
    height: 100%;
}
.imagem_db {
    height: 133%;
}
