 /*******************cards css de ESTUDAR*********************/

 .cards .card-item:hover .card-image {
     opacity: 1;
 }
 
 .cards .card-info {
     padding-bottom: 2px;
     display: flex;
     flex: 1 1 auto;
     flex-direction: column;
     line-height: 1.5em;
     /*margin-top: -22px; */
 }
 
 .cards .card-image {
     overflow: hidden;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     border-radius: 200px 200px 0px 0px;
     opacity: 0.91;
 }
 /********************************************************************************/
 /*******TEXTO******************/
 
 #wrapper_title {
     padding-top: 3% !important;
     width: 750px;
     max-width: 100%;
 }
 
 .main_title {
     font-size: 22px;
     font-family: "Quicksand";
     font-weight: bold;
     max-width: 100%;
     margin-top: 5%;
 }
 
 #wrapper {
     margin: auto;
     max-width: 100%;
     background-color: #fff;
     box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.17);
     padding: 10px;
     border-radius: 5px;
 }
 
 #footer {
     text-align: center;
     font-size: 1rem;
     font-family: "Quicksand";
     font-weight: bold;
 }
 
 h5 {
     font-family: 'Quicksand';
     font-weight: bold;
 }
 
 h6 {
     font-family: 'Quicksand';
 }


 .card-container{
     width: 100%;
     padding: 10px;
     box-sizing: border-box;
 }

 .card{
     background: #fff;
     border-radius: 5px;
     box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
     box-sizing: border-box;
     overflow: auto;
     display: block;
     color: #2f2f2f;
     text-decoration: none;
     position: relative;
     transition: box-shadow 0.3s, transform 0.3s;
     transform: scale(1);
     border: none;
 }

 .card:hover{
     transform: scale(1.05);
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
     z-index: 10;
 }

 .card .image{
     width: 180px;
     height: 180px;
     border-radius: 50%;
     margin: 30px auto 10px;
     background-color: #fed;
     backgroun-position: center;
     background-size: cover;
 }


 @media only screen and (min-width: 600px) {
     .card-container{
         width: 50%;
     }
 }

 @media only screen and (min-width: 1200px) {
     .card-container{
         width: 25%;
     }
 }

 .cards-circle{
     max-width: 1200px;
     margin: 0 auto;
 }

 .cards-full-image{
     max-width: 1200px;
     margin: 0 auto;
 }

 .cards-full-image .image{
     width: 100%;
     height: 150px;
     border-radius: 0;
     margin: 0;
 }

 .image-tiles{
     max-width: 1200px;
     margin: 0 auto;
 }

 .image-tiles .image{
     width: 100%;
     height: 150px;
     border-radius: 0;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .image-tiles .title{
     margin: 0;
     font-weight: 800;
     font-size: 36px;
     color: #fff;
     text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }

 .sub_title {
     font-size: 18px;
     font-family: "Quicksand";
     font-weight: bolder;
 }

 .description_title {
     font-size: 14px;
     font-family: "Roboto";
     font-weight: normal;
 }
 .description_title2 {
     font-size: 1.0rem;
     font-family: "Roboto";
     font-weight: normal;
 }
 .card-info {
     display: flex;
     flex: 1 1 auto;
     flex-direction: column;
     padding: 1rem;
     line-height: 1.5em;
     text-align: center;
 }
 .card-title {
     line-height: 1.1em;
     color: black;
     margin-bottom: 0.2em;
 }

 #fundo {
     /*background-image: linear-gradient(to top, #8DDCFA , white);*/
     /*background-color:rgba(141,220,250,0.6);*/
     /*background-color:rgba(255,238,134,0.2);*/
     background-color:rgba(242,242,242,0.7);
 }








 /* Extra small devices (phones, 320px and down) */
 
 @media only screen and (max-width: 320px) {
     /*cards*/
     .cards .card-image {
         height: 17vh !important;
     }
     img.card-img-top.img-fluid {
         height: 100%;
     }
     h5 {
         font-size: 14px;
     }
     h6 {
         font-size: 12px;
     }
 }
 /* Extra small devices (phones, 321px and up) */
 
 @media only screen and (min-width: 321px) {
     /*cards*/
     .cards .card-image {
         height: 23vh !important;
     }
     img.card-img-top.img-fluid {
         height: 96%;
     }

     h5 {
         font-size: 14px;
     }
     h6 {
         font-size: 12px;
     }
 }
 /* Extra small devices (phones, 376px and up) */
 
 @media only screen and (min-width: 376px) {
     /*cards*/
     .cards .card-image {
         height: 27vh !important;
     }
     img.card-img-top.img-fluid {
         height: 96%;
     }
     h5 {
         font-size: 16px;
     }
     h6 {
         font-size: 14px;
     }
 }
 /* Small devices (portrait tablets and large phones, 600px and up) */
 
 @media only screen and (min-width: 600px) {
     /*cards*/
     .cards .card-image {
         height: 40vh !important;
     }
     img.card-img-top.img-fluid {
         height: 96%;
     }
 }
 /* Medium devices (landscape tablets, 768px and up) */
 
 @media only screen and (min-width: 768px) {
     /*cards*/
     .cards .card-image {
         height: 22vh !important;
     }
     img.card-img-top.img-fluid {
         height: 96%;
     }
 }
 /* Large devices (laptops/desktops, 992px and up) */
 
 @media only screen and (min-width: 992px) {
     /*cards*/
     .cards .card-image {
         height: 20vh !important;
     }
     h5 {
         font-size: 14px;
     }
     h6 {
         font-size: 12px;
     }
 }

 /* Extra large devices (large laptops and desktops, 1440px and up) */
 
 @media only screen and (min-width: 1440px) {
     /*cards*/
     .cards .card-image {
         height: 21vh !important;
     }
     h5 {
         font-size: 16px;
     }
     h6 {
         font-size: 14px;
     }
 }