    /*******************cards css DE TRABALHAR*********************/
    
    .study {
        background-color: #8DDCFA !important;
    }
    
    .cards .card-item:hover {
        cursor: pointer;
    }
    
    .cards .card-item:hover .card-image {
        opacity: 1;
    }
    
    .cards .card-info {
        padding-bottom: 2px;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        line-height: 1.5em;
    }
    /********************************************************************************/
    /*******TEXTO******************/
    
    #wrapper_title {
        padding-top: 3% !important;
        width: 750px;
        max-width: 100%;
    }
    
    #wrapper_title {
        padding-top: 3% !important;
        width: 750px;
        max-width: 100%;
    }
    
    .main_title {
        font-size: 1.3rem;
        font-family: "Quicksand";
        font-weight: bold;
        max-width: 100%;
        margin-top: 5%;
    }
    
    #wrapper {
        margin: auto;
        max-width: 100%;
        background-color: #fff;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.17);
        padding: 10px;
        border-radius: 10px;
    }
    
    #footer {
        text-align: center;
        font-size: 1rem;
        font-family: "Quicksand";
        font-weight: bold;
    }
    
    * {
        color: #2f2f2f;
    }
    /* Extra small devices (phones, 320px and down) */
    
    @media only screen and (max-width: 320px) {
        /*cards*/
        .cards .card-item {
            display: flex;
            flex-direction: column;
            background-color: #FFEE86;
            width: 100%;
            border-radius: 200%;
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            overflow: hidden;
            transition: transform 0.5s;
            -webkit-transition: transform 0.5s;
        }
        .cards .card-image {
            height: 120px !important;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 200px 200px 0px 0px;
            opacity: 0.91;
        }
        img.card-img-top.img-fluid {
            height: 100%;
        }
        h5 {
            font-size: 14px;
            font-family: 'Quicksand';
            font-weight: bold;
        }
        h6 {
            font-size: 12px;
            font-family: 'Quicksand';
        }
    }
    /* Extra small devices (phones, 321px and down) */
    
    @media only screen and (min-width: 321px) {
        /*cards*/
        .cards .card-item {
            display: flex;
            flex-direction: column;
            background-color: #FFEE86;
            width: 100%;
            border-radius: 200%;
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            overflow: hidden;
            transition: transform 0.5s;
            -webkit-transition: transform 0.5s;
        }
        .cards .card-image {
            height: 160px !important;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 200px 200px 0px 0px;
            opacity: 0.91;
        }
        img.card-img-top.img-fluid {
            height: 98%;
        }
        h5 {
            font-size: 14px;
            font-family: 'Quicksand';
            font-weight: bold;
        }
        h6 {
            font-size: 12px;
            font-family: 'Quicksand';
        }
    }
    /* Extra small devices (phones, 376px and down) */
    
    @media only screen and (min-width: 376px) {
        /*cards*/
        .cards .card-item {
            display: flex;
            flex-direction: column;
            background-color: #FFEE86;
            width: 100%;
            border-radius: 200%;
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            overflow: hidden;
            transition: transform 0.5s;
            -webkit-transition: transform 0.5s;
        }
        .cards .card-image {
            height: 196px !important;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 200px 200px 0px 0px;
            opacity: 0.91;
        }
        img.card-img-top.img-fluid {
            height: 98%;
        }
        h5 {
            font-size: 16px;
            font-family: 'Quicksand';
            font-weight: bold;
        }
        h6 {
            font-size: 14px;
            font-family: 'Quicksand';
        }
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    
    @media only screen and (min-width: 600px) {
        /*cards*/
        .cards .card-item {
            display: flex;
            flex-direction: column;
            background-color: #FFEE86;
            width: 100%;
            border-radius: 200%;
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            overflow: hidden;
            transition: transform 0.5s;
            -webkit-transition: transform 0.5s;
        }
        .cards .card-image {
            height: 160px !important;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 200px 200px 0px 0px;
            opacity: 0.91;
        }
        h5 {
            font-size: 14px;
            font-family: 'Quicksand';
            font-weight: bold;
        }
        h6 {
            font-size: 12px;
            font-family: 'Quicksand';
        }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    
    @media only screen and (min-width: 768px) {
        /*cards*/
        .cards .card-item {
            display: flex;
            flex-direction: column;
            background-color: #FFEE86;
            width: 100%;
            border-radius: 200%;
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            overflow: hidden;
            transition: transform 0.5s;
            -webkit-transition: transform 0.5s;
        }
        .cards .card-image {
            height: 160px !important;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 200px 200px 0px 0px;
            opacity: 0.91;
        }
        h5 {
            font-size: 14px;
            font-family: 'Quicksand';
            font-weight: bold;
        }
        h6 {
            font-size: 12px;
            font-family: 'Quicksand';
        }
    }
    /* Large devices (laptops/desktops, 992px and up) */
    
    @media only screen and (min-width: 992px) {
        /*cards*/
        .cards .card-item {
            display: flex;
            flex-direction: column;
            background-color: #FFEE86;
            width: 100%;
            border-radius: 200%;
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            overflow: hidden;
            transition: transform 0.5s;
            -webkit-transition: transform 0.5s;
        }
        .cards .card-image {
            height: 160px !important;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 200px 200px 0px 0px;
            opacity: 0.91;
        }
        h5 {
            font-size: 14px;
            font-family: 'Quicksand';
            font-weight: bold;
        }
        h6 {
            font-size: 12px;
            font-family: 'Quicksand';
        }
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    
    @media only screen and (min-width: 1200px) {
        /*cards*/
        .cards .card-item {
            display: flex;
            flex-direction: column;
            background-color: #FFEE86;
            width: 100%;
            border-radius: 200%;
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            overflow: hidden;
            transition: transform 0.5s;
            -webkit-transition: transform 0.5s;
        }
        .cards .card-image {
            height: 160px !important;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 200px 200px 0px 0px;
            opacity: 0.91;
        }
        h5 {
            font-size: 14px;
            font-family: 'Quicksand';
            font-weight: bold;
        }
        h6 {
            font-size: 12px;
            font-family: 'Quicksand';
        }
    }