    .card {
        border-radius: 5px;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        margin-top: 5%;
        padding: 20px;
    }
    
    * {
        color: #2f2f2f
    }
    
    h4,
    h6,
    h1,
    input,
    label {
        font-family: "Quicksand" !important;
    }
    
    h4{
        font-weight: bold;
    }
    
    .label-margin {
        margin-left: -1%;
    }
    .negrito {
        color: #2F2F2F;
        font-weight: bold;
    }

    .guardar_btn {
        color: #00A5CF;
        padding: 0.3rem;
        font-size: 14px;
        font-family: "Quicksand", sans-serif;
        border: 0.1em solid #00A5CF;
        border-radius: 5px;
        font-weight: 800;
        width: 30%;
        cursor: pointer;
        background: #fff;
    }
    
    .guardar_btn:hover {
        background-color: #00A5CF;
        color: #fff;
        border: 0.1em solid #00A5CF;
    }

    .cancel_btn {
        color: #2F2F2F;
        padding: 0.3rem;
        font-size: 14px;
        font-family: "Quicksand", sans-serif;
        border: 0.1em solid #2F2F2F;
        border-radius: 5px;
        font-weight: 800;
        width: 30%;
        cursor: pointer;
        background: #fff;
    }

    .cancel_btn:hover {
        background-color: #2F2F2F;
        color: #fff;
        border: 0.1em solid #2F2F2F;
    }
    /*IMAGEM DE PERFIL*/
    
    .image_profile {
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        width: 152px;
        height: 152px;
    }
    /*imagem de fundo*/
    
    .fundo_login {
        background-image: url("../img/fundo_cinza_g.png");
        width: 100%;
        background-size: cover;
    }
    /*estilos para o upload da img*/
    
    .avatar-upload {
        position: relative;
        max-width: 205px;
        display: block;
        margin: auto;
    }
    
    .avatar-edit {
        position: absolute;
        z-index: 1;
    }
    
    label.label :hover {
        background: #ffffff;
        border-color: #ffffff;
    }
    
    label.label::before {
        color: #2f2f2f;
        position: relative;
        top: 17%;
        text-align: center;
        display: block;
        margin: auto;
    }
    
    label.label {
        align-content: end;
        width: 34px;
        height: 34px;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
        display: block;
        margin-left: -85%;
        z-index: 200;
    }
    
    @media only screen and (max-width: 600px) {
        .guardar_btn {
            width: 50%!important;
        }
        .guardar_btn:hover {
            width: 50%!important;
        }
        .cancel_btn {
            width: 50%!important;
            margin-top: 2%;
        }
        .cancel_btn:hover {
            width: 50%!important;
            margin-top: 2%;
        }
        .avatar-edit {
            top: 12%;
        }
    }
    
    @media only screen and (min-width: 768px) {
        .avatar-edit {
            top: 7%;
            right: -21%;
        }
    }
    
    @media only screen and (min-width: 992px) {
        .avatar-edit {
            right: -1%;
            top: 7%;
        }
    }

    .modal-content{
        width: 120% !important;
    }