.modal-footer {
    justify-content: left;
}

.descricao {
    justify-content: left;
    margin-top: 100px;
}

.botao {
    float: right;
}

.xp_titulo {
    margin-top: 12px;
    margin-right: 120px;
    float: right;
    font-weight: bold;
    font-family: 'Quicksand' !important;
}

h3 {
    font-family: 'Quicksand' !important;
    font-weight: bold;
}

.username {
    margin-right: 133px;
    margin-top: -20px;
    float: right;
    font-size: 12px;
}

.username_modal {
    margin-top: 12px;
    /*margin-right: 618px;*/
    /*float: right;*/
}

.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 12px;
}

.avatar_modal {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 4px;
}



/*Media Queries*/
/*Mobile S*/
@media only screen and (min-width: 320px) {

    .xp_titulo {
        margin-top: 12px!important;
        margin-right: 105px!important;

    }

    .username {
        margin-right: 118px!important;
        margin-top: -20px!important;
        font-size: 12px!important;
    }

    h3{

        font-size: 20px!important;
    }

    .username_modal{

        margin-top: -26px!important;
        margin-left: 40px!important;
        font-size: 14px!important;
    }

    .descricao{

        font-size: 12px!important;
        margin-top: 10px!important;
    }
}

/*Mobile M*/
@media only screen and (min-width: 375px) {

    .xp_titulo {
        margin-top: 12px!important;
        margin-right: 146px!important;

    }

    .username {
        margin-right: 159px!important;
        margin-top: -20px!important;
        font-size: 12px!important;
    }

    h3{

        font-size: 20px!important;
    }

    .username_modal{

        margin-top: -26px!important;
        margin-left: 40px!important;
        font-size: 14px!important;
    }

    .descricao{

        font-size: 12px!important;
        margin-top: 10px!important;
    }
}

/*Mobile L*/
@media only screen and (min-width: 425px) {

    .xp_titulo {
        margin-top: 12px!important;
        margin-right: 185px!important;

    }

    .username {
        margin-right: 199px!important;
        margin-top: -20px!important;
        font-size: 12px!important;
    }

    h3{

        font-size: 20px!important;
    }

    .username_modal{

        margin-top: -26px!important;
        margin-left: 40px!important;
        font-size: 14px!important;
    }

    .descricao{

        font-size: 12px!important;
        margin-top: 10px!important;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .xp_titulo {
        margin-top: 12px;
        margin-right: 418px;

    }

    .username {
        margin-right: 120px;
        margin-top: -20px;
        font-size: 12px;
    }

    h3{

        font-size: 20px;
    }

    .username_modal{

        margin-top: -26px;
        margin-left: 40px;
        font-size: 14px;
    }

    .descricao{

        font-size: 12px;
        margin-top: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .xp_titulo {
        margin-top: 12px!important;
        margin-right: 270px!important;
        float: right!important;
        font-weight: bold!important;
        font-family: 'Quicksand' !important;
    }

    .username {
        margin-right: 286px!important;
        margin-top: -20px!important;
        float: right!important;
        font-size: 12px!important;
    }

    h3{

        font-size: 20px;
    }

    .username_modal{

        margin-top: -26px;
        margin-left: 40px;
        font-size: 14px;
    }

    .descricao{

        font-size: 12px;
        margin-top: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .xp_titulo {
        margin-top: 12px!important;
        margin-right: 132px!important;
        float: right!important;
        font-size: 14px!important;
    }

    .username {
        margin-right: 134px!important;
        margin-top: -20px!important;
        float: right!important;
        font-size: 12px!important;
    }

    h3{

        font-size: 20px;
    }

    .username_modal{

        margin-top: -26px;
        margin-left: 40px;
        font-size: 14px;
    }

    .descricao{

        font-size: 12px;
        margin-top: 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .avatar {
        margin-top: 8px;
    }

    .xp_titulo {
        margin-top: 12px!important;
        margin-right: 110px!important;
        font-size: 12px!important;
    }

    .username {
        margin-right: 101px!important;
        margin-top: -20px!important;
        float: right!important;
        font-size: 12px!important;
    }

    h3{

        font-size: 20px;
    }

    .username_modal{

        margin-top: -26px;
        margin-left: 40px;
        font-size: 14px;
    }

    .descricao{

        font-size: 12px;
        margin-top: 10px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .avatar {
        vertical-align: middle;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-top: 8px;
    }

    .xp_titulo {
        margin-top: 12px!important;
        margin-right: 153px!important;
        float: right!important;
        font-weight: bold!important;
        font-family: 'Quicksand' !important;
        font-size: 12px!important;
    }

    .username {
        margin-right: 144px!important;
        margin-top: -20px!important;
        float: right!important;
        font-size: 12px!important;
    }

    h3{

        font-size: 20px;
    }

    .username_modal{

        margin-top: -26px;
        margin-left: 40px;
        font-size: 14px;
    }

    .descricao{

        font-size: 12px;
        margin-top: 10px;
    }
}