h1 h2 h3 h4 h5 h6 {
    font-family: "Quicksand" !important;
    color: #2F2F2F !important;
    font-weight: bold;
}

p {
    font-family: "Roboto" !important;
    color: #2F2F2F !important;
}

.main_title {
    font-family: "Quicksand" !important;
    color: #2F2F2F !important;
    font-weight: bold;
}


/*SCROLL BAR*/

::-webkit-scrollbar {
    width: 8px !important;
    background-color: #f2f2f2;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#FFEE86, #8DDCFA);
    background-color: #000000;
}

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

 ::-webkit-scrollbar-track {
    display: none;
}

* {
    color: #2f2f2f;
}

button:focus {
    outline: none;
}


/*PAGINA 404*/

.home_btn {
    width: 30%!important;
    height: 10%!important;
    color: #2f2f2f!important;
    background-color: #D3D3D3!important;
    margin-bottom: 0.3125rem!important;
    text-decoration: none!important;
    cursor: pointer!important;
    display: inline-block!important;
    border-radius: 40px!important;
    margin-top: 5% !important;
    font-weight: bold;
    border-color: #D3D3D3!important;
    font-family: 'Quicksand' !important;
    font-size: 16px !important;
}

.home_btn:hover {
    width: 30%!important;
    height: 10%!important;
    color: #fff!important;
    background-color: #2F2F2F !important;
    margin-bottom: 0.3125rem!important;
    text-decoration: none!important;
    cursor: pointer!important;
    display: inline-block!important;
    border-color: #2F2F2F!important;
    border-radius: 40px!important;
    font-family: 'Quicksand' !important;
    font-size: 16px !important;
    margin-top: 5% !important;
}

.error-container {
    text-align: center;
    font-size: 180px;
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    margin: 20px 15px;
}

.error-container>span {
    display: inline-block;
    line-height: 0.7;
    position: relative;
    color: #8DDCFA;
}

.error-container>span>span {
    display: inline-block;
    position: relative;
}

.error-container>span:nth-of-type(1) {
    perspective: 1000px;
    perspective-origin: 500% 50%;
    color: #FFEE86;
}

.error-container>span:nth-of-type(1)>span {
    transform-origin: 50% 100% 0px;
    transform: rotateX(0);
    animation: easyoutelastic 8s infinite;
}

.error-container>span:nth-of-type(3) {
    perspective: none;
    perspective-origin: 50% 50%;
    color: #8DDCFA;
}

.error-container>span:nth-of-type(3)>span {
    transform-origin: 100% 100% 0px;
    transform: rotate(0deg);
    animation: rotatedrop 8s infinite;
}

@keyframes easyoutelastic {
    0% {
        transform: rotateX(0);
    }
    9% {
        transform: rotateX(210deg);
    }
    13% {
        transform: rotateX(150deg);
    }
    16% {
        transform: rotateX(200deg);
    }
    18% {
        transform: rotateX(170deg);
    }
    20% {
        transform: rotateX(180deg);
    }
    60% {
        transform: rotateX(180deg);
    }
    80% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(0);
    }
}

@keyframes rotatedrop {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(30deg);
    }
    15% {
        transform: rotate(90deg);
    }
    70% {
        transform: rotate(90deg);
    }
    80% {
        transform: rotate(0);
    }
    100% {
        transform: rotateX(0);
    }
}


/* demo stuff */

.letra {
    font-family: "Quicksand";
    font-weight: bold;
    text-align: center;
    margin: 30px 15px;
}

.zoom-area {
    max-width: 490px;
    margin: 30px auto 30px;
    font-size: 19px;
    text-align: center;
}

.link-container {
    text-align: center;
}

a.more-link {
    text-decoration: none;
}



/*FOOTER*/
.site-footer
{
    background-color:#f2f2f2;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color: #2f2f2f;
    font-size:16px;
    font-family: Quicksand;
    text-transform: none;
    margin-top:5px;
    letter-spacing:2px;
    font-weight: bold;
}
.site-footer a
{
    color:#737373;
    font-family: Roboto;
}
.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links
{ font-size: 12px;
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#2F2F2F;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.site-footer .social-icons
{
    text-align:right
}
.site-footer .social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyright-text
{font-size: 12px;
    margin:0
}


.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{

    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.linkedin:hover
{
    background-color:#007bb6
}
.social-icons a.dribbble:hover
{
    background-color:#ea4c89
}



/*HOME MENU*/
.home_menu{
    text-decoration: none !important;
    height: 100%;
    background-color: #ffffff;
    font-family: Quicksand, sans-serif;
    color: #555555;
}
ul {
    list-style: none;
}
a {
    text-decoration: none !important;
    color: inherit;
}

* {
    box-sizing: border-box;
}

.menu {
    display: block;
    position: relative;
    cursor: pointer;

}
.titulo{
    color: #2f2f2f;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.menu-title {
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 60px;
    background: #8DDCFA;
    text-align: center;
    transition: 0.3s background-color;
    text-decoration: none !important;
}

.menu-title:before {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #dddddd;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 0 solid #dddddd;
    position: absolute;
    top: 100%;
    left: 0;
    z-index:100;
    transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}

.menu-title:hover {
    background:#8DDCFA;
}

.menu-title:hover:before {
    border-top-color: #8DDCFA;
}

.menu:hover > .menu-title:before {
    border-top-color: #f2f2f2;
    border-top-width: 0;
    transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

.menu-title:after {
    content: "";
    display: block;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 0 solid #ebebeb;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: 0.2s border-bottom ease-in;
}

.menu:hover > .menu-title:after {
    border-bottom-width: 5px;
    transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu-title_2nd {
    background: #FFEE86;

}

.menu-title_2nd:hover {
    background:#FFEE86;
}

.menu-title_2nd:before {
    border-top-color: #dddddd;
}

.menu-title_2nd:hover:before {
    border-top-color: #dddddd;
}

.menu-title_3rd {
    background-image: linear-gradient(to right, #8DDCFA , #FFEE86);
}

.menu-title_3rd:hover {
    background-image: linear-gradient(to right, #8DDCFA , #FFEE86);
}

.menu-title_3rd:before {
    border-top-color: #dddddd;
}


.menu-title_3rd:hover:before {
    border-top-color: #c2c2c2;
}


.menu-title_4th {
    background: #c2c2c2;
}

.menu-title_4th:hover {
    background: #c2c2c2;
}

.menu-title_4th:before {
    border-top-color: #dddddd;
}

.menu-title_4th:hover:before {
    border-top-color: #dddddd;
}


.menu-dropdown {
    min-width: 100%;
    font-size: 0.8rem;
    padding: 15px 0;
    position: absolute;
    background: #ebebeb;
    z-index: 101;
    transition: 0.5s padding, 0.5s background;
}

.menu-dropdown:after {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #ebebeb;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    position: absolute;
    text-decoration: none !important;
    top: 100%;
    left: 0;
    z-index: 100;
    transition: 0.5s border-top;
}

.menu:not(:hover) > .menu-dropdown {
    padding: 4px 0;
    background: #dddddd;
    z-index: 99;
}

.menu:not(:hover) > .menu-dropdown:after {
    border-top-color: #dddddd;
}

.menu:not(:hover) > .menu-title:after {
    border-bottom-color: #dddddd;
}

.menu-dropdown > * {
    overflow: hidden;
    height: 40px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0);
    white-space: nowrap;
    transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
}

.menu-dropdown > *:hover {
    background: rgba(0, 0, 0, 0.1);
}

.menu:not(:hover) > .menu-dropdown > * {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25, 25, 25, 0);
    transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
    z-index: 99;
}

@media only screen and (max-width: 600px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }

    .site-footer {
        padding-bottom: 0;
    }

    .site-footer .copyright-text, .site-footer .social-icons {
        text-align: center
    }

    .sponsors_phone {
        display: block;
        padding-left: 15px !important;
        padding-right: 15px;
        margin-bottom: 5px !important;
        margin-top: 0px !important;
    }

    .esconder {
        display: none !important;
    }

    .adjustment {
        margin-bottom: 5px !important;
    }

    .sponsors_phone {
        display: block !important;
    }
    .home_menu {
        display: none;
    }
}



@media only screen and (max-width: 768px) {
    .sponsors_phone {
        display: block !important;
    }
    .home_menu {
        display: none;
    }
}



@media only screen and (min-width: 600px) {
    .sponsors_phone {
        display: none !important;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


    .esconder {
        display: block !important;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

