#fundo {
    background-color:rgba(242,242,242,0.7);
}
.titulo1 {
    font-family: "Quicksand", sans-serif;
    color: #2F2F2F;
    font-size: 24px;
    font-weight: bold;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.subtitulo {
    color: #00A5CF;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

a:hover{
    color: #00A5CF;
}

@media only screen and (max-width: 600px) {
    .video{
        width: 250px;
        height: auto;
    }
}

@media only screen and (min-width: 600px) {
    .video{
        width: 400px;
        height: auto;
    }
}


@media only screen and (min-width: 768px) {
    .video{
        width: 550px;
        height: auto;
    }
}


@media only screen and (min-width: 992px) {
    .video{
        width: 700px;
        height: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .video{
        width: 850px;
        height: auto;
    }
}