#fundo {
    background-color:rgba(242,242,242,0.7);
}

.cards .card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
}

.cards .card-item:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.cards .card-item:hover .card-image {
    opacity: 1;
}

.cards .card-info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.5em;
}

.cards .card-image {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0px 0px;
    opacity: 0.91;
}

.sombra {
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
.titulo_centrado {
    font-size: 22px;
}

.inicia_index {
    color: #2F2F2F;
    padding: 0.3rem;
    font-size: 14px;
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
    border: 0.1em solid #2F2F2F;
    border-radius: 5px;
    font-weight: 800;
    width: 25%;
    cursor: pointer;
    background: #fff;
}

.inicia_index:hover {
    background-color: #2F2F2F;
    color: #fff;
    border: 0.1em solid #2F2F2F;
}
.btn {
    font-family: 'Quicksand', 'Montserrat', sans-serif !important;
}

a {
    color: #2F2F2F;
}

a:hover {
    color: black;
    text-decoration: black;
}

h2,
h4,
h3 {
    font-family: 'Quicksand', 'Montserrat', sans-serif !important;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {

    .escolhe_opcao {
        font-size: 14px;
    }
    div.card-image {
        height: 194px!important;
    }
    .inicia_index {
        width: 40%!important;
        height: 10%!important;
    }
    .inicia_index:hover {
        width: 40%!important;
        height: 10%!important;
    }
    .centrado {
        display: block!important;
        margin: auto!important;
        height: 150px;
        width: 150px;
        margin-bottom: 10px!important;
    }
    .titulo_centrado {
        text-align: center!important;
    }
    .texto_centrado {
        text-align: justify!important;
        text-justify: inter-word!important;
        margin-right: 10px!important;
        margin-left: 10px!important;
    }
}

@media only screen and (min-width: 600px) {

    .escolhe_opcao {
        font-size: 14px!important;
    }
    div.card-image {
        height: 222px!important;
    }
    .inicia_index {
        width: 35%!important;
        height: 10%!important;
    }
    .inicia_index:hover {
        width: 35%!important;
        height: 10%!important;
    }
    .centrado {
        display: block!important;
        margin: auto!important;
        height: 150px;
        width: 150px;
        margin-bottom: 10px!important;
    }
    .titulo_centrado {
        text-align: center!important;
    }
    .texto_centrado {
        text-align: justify!important;
        text-justify: inter-word!important;
        margin-right: 10px!important;
        margin-left: 10px!important;
    }
    img.rounded-circle.centrado {
        height: 150px;
        width: 150px;
    }
}


@media only screen and (min-width: 768px) {
    div.card-image {
        height: 128px!important;
    }
    .card-title {
        font-size: 18px;
    }
    .inicia_index {
        width: 25%!important;
    }
    .inicia_index:hover {
        width: 25%!important;
        height: 10%!important;
    }
    .titulo_centrado {
        text-align: left!important;
    }
}

@media only screen and (min-width: 992px) {
    div.card-image {
        height: 182px!important;
    }
    img.rounded-circle.centrado {
        height: 180px;
        width: 180px;
    }
}
@media only screen and (min-width: 1200px) {
    .escolhe_opcao {
        font-size: 14px!important;
    }
    .inicia_index {
        width: 18%!important;
        height: 18%!important;
    }
    .inicia_index:hover {
        width: 18%!important;
        height: 18%!important;
    }
    div.card-image {
        height: 222px!important;
    }
    img.rounded-circle.centrado {
        height: 200px;
        width: 200px;
    }
}