/* cards style
.card {

    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    transition: 0.3s;
}*/


/* Mouse-hover da sombra
.card:hover {
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.50);
}

.rounded{
    border-radius: 10px;
}*/

.cards .card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
}

.cards .card-item:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.cards .card-item:hover .card-image {
    opacity: 1;
}

.cards .card-info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.5em;
}

.cards .card-image {

    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
    opacity: 0.91;
}


/*********************************/


/*Botão*/

.inicia_index {

    color: #2f2f2f!important;
    background-color: #D3D3D3!important;
    margin-bottom: 0.3125rem!important;
    text-decoration: none!important;
    cursor: pointer!important;
    display: inline-block!important;
    border-radius: 40px!important;
    font-weight: bold;
    border-color: #D3D3D3!important;
}

.inicia_index:hover {

    color: #fff!important;
    background-color: #2F2F2F !important;
    margin-bottom: 0.3125rem!important;
    text-decoration: none!important;
    cursor: pointer!important;
    display: inline-block!important;
    border-color: #2F2F2F!important;
    border-radius: 40px!important;
}

.btn {
    font-family: 'Quicksand';
}

/*TEXTO*/

a {
    color: #2F2F2F;
}

a:hover {
    color: black;
    text-decoration: black;
}

h1,
h4,
h3 {
    font-family: 'Quicksand';
    font-weight: bold;
}


/*Media Queries*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    h1{

        font-size: 24px;
    }

    h3{

        font-size: 20px;
    }

    h4{
        font-size: 18px;
    }

    .escolhe_opcao{

        font-size: 14px;
    }

    div.card-image{

        height: 194px!important;
    }

    /*Btn Inicia sessão*/
    .inicia_index{

        width: 40%!important;
        height: 10%!important;
    }

    .inicia_index:hover{

        width: 40%!important;
        height: 10%!important;
    }

    .centrado{

        display: block!important;
        margin: auto!important;
        height: 150px;
        width: 150px;
        margin-bottom: 10px!important;
    }

    .titulo_centrado{


        text-align: center!important;
    }

    .texto_centrado{

        text-align: justify!important;
        text-justify: inter-word!important;
        margin-right: 10px!important;
        margin-left: 10px!important;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    h1{

        font-size: 26px!important;
    }

    h3{

        font-size: 20px!important;
    }

    h4{
        font-size: 18px!important;
    }

    .escolhe_opcao{

        font-size: 14px!important;
    }

    div.card-image{

        height: 222px!important;
    }

    .inicia_index{

        width: 35%!important;
        height: 10%!important;
    }

    .inicia_index:hover{

        width: 35%!important;
        height: 10%!important;
    }

    .centrado{

        display: block!important;
        margin: auto!important;
        height: 150px;
        width: 150px;
        margin-bottom: 10px!important;
    }

    .titulo_centrado{


        text-align: center!important;
    }

    .texto_centrado{

        text-align: justify!important;
        text-justify: inter-word!important;
        margin-right: 10px!important;
        margin-left: 10px!important;
    }

    img.rounded-circle.centrado{

        height: 150px;
        width: 150px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    div.card-image{

        height: 128px!important;
    }

    .card-title{

        font-size: 18px;
    }

    .inicia_index{

        width: 25%!important;
    }

    .inicia_index:hover{

        width: 25%!important;
        height: 10%!important;
    }

    .titulo_centrado{

        text-align: left!important;

    }



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    div.card-image{

        height: 182px!important;
    }

    img.rounded-circle.centrado{

        height: 180px;
        width: 180px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    h1{

        font-size: 30px!important;
    }

    h3{

        font-size: 20px!important;
    }

    h4{
        font-size: 18px!important;
    }

    .escolhe_opcao{

        font-size: 14px!important;
    }

    .inicia_index{

        width: 18%!important;
        height: 18%!important;
    }

    .inicia_index:hover{

        width: 18%!important;
        height: 18%!important;
    }

    div.card-image{

        height: 222px!important;
    }



    img.rounded-circle.centrado{

        height: 200px;
        width: 200px;
    }
}