/*HOME MENU*/
.home_menu{
    text-decoration: none !important;
    height: 100%;
    background-color: #ffffff;
    font-family: Quicksand, sans-serif;
    color: #555555;
}
ul {
    list-style: none;
}
a {
    text-decoration: none !important;
    color: inherit;
}

* {
    box-sizing: border-box;
}

.menu {
    display: block;
    position: relative;
    cursor: pointer;

}
.titulo{
    color: #2f2f2f;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.menu-title {
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 60px;
    background: #8DDCFA;
    text-align: center;
    transition: 0.3s background-color;
    text-decoration: none !important;
}

.menu-title:before {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #dddddd;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 0 solid #dddddd;
    position: absolute;
    top: 100%;
    left: 0;
    z-index:100;
    transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}

.menu-title:hover {
    background:#8DDCFA;
}

.menu-title:hover:before {
    border-top-color: #8DDCFA;
}

.menu:hover > .menu-title:before {
    border-top-color: #f2f2f2;
    border-top-width: 0;
    transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

.menu-title:after {
    content: "";
    display: block;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 0 solid #ebebeb;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: 0.2s border-bottom ease-in;
}

.menu:hover > .menu-title:after {
    border-bottom-width: 5px;
    transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu-title_2nd {
    background: #FFEE86;

}

.menu-title_2nd:hover {
    background:#FFEE86;
}

.menu-title_2nd:before {
    border-top-color: #dddddd;
}

.menu-title_2nd:hover:before {
    border-top-color: #dddddd;
}

.menu-title_3rd {
    background-image: linear-gradient(to right, #8DDCFA , #FFEE86);
}

.menu-title_3rd:hover {
    background-image: linear-gradient(to right, #8DDCFA , #FFEE86);
}

.menu-title_3rd:before {
    border-top-color: #dddddd;
}


.menu-title_3rd:hover:before {
    border-top-color: #c2c2c2;
}


.menu-title_4th {
    background: #c2c2c2;
}

.menu-title_4th:hover {
    background: #c2c2c2;
}

.menu-title_4th:before {
    border-top-color: #dddddd;
}

.menu-title_4th:hover:before {
    border-top-color: #dddddd;
}


.menu-dropdown {
    min-width: 100%;
    font-size: 0.8rem;
    padding: 15px 0;
    position: absolute;
    background: #ebebeb;
    z-index: 101;
    transition: 0.5s padding, 0.5s background;
}

.menu-dropdown:after {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #ebebeb;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    position: absolute;
    text-decoration: none !important;
    top: 100%;
    left: 0;
    z-index: 100;
    transition: 0.5s border-top;
}

.menu:not(:hover) > .menu-dropdown {
    padding: 4px 0;
    background: #dddddd;
    z-index: 99;
}

.menu:not(:hover) > .menu-dropdown:after {
    border-top-color: #dddddd;
}

.menu:not(:hover) > .menu-title:after {
    border-bottom-color: #dddddd;
}

.menu-dropdown > * {
    overflow: hidden;
    height: 40px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0);
    white-space: nowrap;
    transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
}

.menu-dropdown > *:hover {
    background: rgba(0, 0, 0, 0.1);
}

.menu:not(:hover) > .menu-dropdown > * {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25, 25, 25, 0);
    transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
    z-index: 99;
}


/*main titles*/

#wrapper_title {

    max-width: 100%;
}

.main_title {
    font-size: 1.3rem;
    font-family: "Quicksand";
    font-weight: bold;
    max-width: 100%;
    margin-top: 5%;
}


/*cards highlights*/

.sub_title {
    font-size: 1.2rem;
    font-family: "Quicksand";
    font-weight: bolder;
}

.description_title {
    font-size: 1.0rem;
    font-family: "Roboto";
    font-weight: normal;
}

.container_highlights1 {
    display: inline-block;
}

.container_highlights {
    display: flex;
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    -webkit-display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.cards {
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}


.cards .card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
}

.cards .card-item:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.cards .card-item:hover .card-image {
    opacity: 1;
}

.cards .card-info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.5em;
}

.cards .card-title {
    line-height: 1.1em;
    color: black;
    margin-bottom: 0.2em;
}

.cards .card-image {
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
    opacity: 0.91;
}


/*cards links*/

#footer {
    text-align: center;
    font-size: 1rem;
    font-family: "Quicksand";
    font-weight: bold;
}

.credit {
    font-size: 12px;
    float: bottom;
    text-align: center;
    padding-right: 4%;
}

.clearfix_uni {
    border-radius:10px;
    background-color: #8DDCFA;
    margin-top: 0;
    margin-right: 0;
    color: white !important;

}

.clearfix_companies {
    border-radius: 10px;
    background-color: #FFEE86;
    margin-top: 0;
    margin-right: 0;
    color: white !important;
}
.clearfix_uni_my_links {
    border-radius: 50px 15px 15px 50px;
    background-color: #DAEEF4;
    margin-top: 0;

}

.clearfix_companies_my_links {
    border-radius: 50px 15px 15px 50px;
    background-color: #FEF8CE;
    margin-top: 0;

}

.link_info {
    font-size: 0.7rem;
    color: #2f2f2f;
    padding-top: 6%;

}

.link_title {
    font-weight: bold;
    font-size: 1rem;

}

.link_subtitle {
    font-size: 0.9rem;

}

#wrapper {
    margin: auto;

    max-width: 100%;
    padding: 35px;
    background: #fff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.17);
    border-radius: 10px;
}

#recenttags {
    margin-bottom: 15px;
}

img.tagpost_thumb {
    float: left;
    margin-right: 12px;
    height: 95px;
    width: 90px;
    transition: all 1s;
    border-radius: 10px;
}

.taglabel {
    display: inline-block;
    float: left;
    width: 100%;
    padding: 0;
    margin: auto;
    border: none;
    /*text-align: center;*/
}

ul.taglabel li {
    padding: 5px 0;
    min-height: 95px;
}

#tagpost-top,
#tagpost-bottom {
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
}

#tagpost-top .widget ul,
#tagpost-bottom .widget ul {}

#tagpost-top .widget,
#tagpost-bottom .widget {
    position: relative;
    display: block;
}

#tagpost-bottom .widget {
    margin-top: 10px;
}

#tagpost-top .widget ul,
#tagpost-bottom .widget ul {
    list-style: none;
    margin-bottom: -15px;
    padding: 0;
}

#tagpost-top .widget ul li,
#tagpost-bottom .widget ul li {
    display: block;
    font-size: 12px;
    font-family: inherit;
    float: left;
    margin-bottom: 15px;
    padding: 0;
    transition: all 0.6s;
    width: 47%;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

#tagpost-top .widget ul li:hover,
#tagpost-bottom .widget ul li:hover {
    border-bottom-color: #bbb;
}

#tagpost-top .widget li:last-child,
#tagpost-bottom .widget li:last-child {
    border-bottom: none;
}

#tagpost-top .widget ul li a,
#tagpost-bottom .widget ul li a {}

#tagpost-top .widget ul li a:hover,
#tagpost-bottom .widget ul li a:hover {
    color: #444;
    text-decoration: none;
}

@media screen and (max-width:990px) {
    .taglabel {
        display: block;
        float: left;
        width: 100%;
        padding: 0;
        margin: auto;
        border: none;
        /*text-align: center;*/
    }
    #tagpost-top .widget ul li,
    #tagpost-bottom .widget ul li {
        display: block;
        font-size: 12px;
        font-family: inherit;
        width: 100%;
        float: left;
        margin-bottom: 15px;
        margin-right: 15px;
        padding: 0;
        transition: all 1s;
    }
    #wrapper {
        margin: auto;
        max-width: 100%;
        padding: 20px;
        background: #fff;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.17);
        border-radius: 10px;
    }
    .main_title {
        font-size: 1.6rem;
        font-family: "Quicksand";
        font-weight: bold;
        max-width: 100%;
        text-align: center;
        margin-top: 2%;
    }
    .credit {
        font-size: 12px;
        float: bottom;
        text-align: center;
    }
}


/*my links*/


.circle_links {
    background-color: #aaa;
    border-radius: 50% !important;
    overflow: hidden;
    position: relative;
}

















/*ACORDEAO*/
/**, *::after, *::before {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/*.title {*/
/*    color: #fff;*/
/*    text-transform: uppercase;*/
/*    text-align: center;*/
/*    padding-bottom: 20px;*/
/*}*/
/*.title span {*/
/*    display: block;*/
/*    text-transform: none;*/
/*    font-size: .70em;*/
/*}*/

/*.contenedor-acordeon {*/
/*    width: 900px;*/
/*    overflow: hidden;*/
/*    border-radius: 3px;*/
/*}*/

/*.acordeon {*/
/*    width: 100%;*/
/*    overflow: hidden;*/
/*}*/
/*.acordeon__head {*/
/*    height: 80px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 1.5em;*/
/*    box-shadow: 0 0 1px rgba(128, 128, 128, 0.5) inset;*/
/*    vertical-align: middle;*/
/*}*/

/*.acordeon__head:hover {*/
/*    cursor: pointer;*/
/*}*/
/*.acordeon__head--logo, .acordeon__head--title, .acordeon__head .icon {*/
/*    pointer-events: none;*/
/*}*/
/*.acordeon__head--logo {*/
/*    width: 8%;*/
/*}*/
/*.acordeon__head--title {*/
/*    display: inline-block;*/
/*    text-transform: uppercase;*/
/*    font-size: .95em;*/
/*    font-weight: 600;*/
/*    margin:0;*/
/*}*/
/*.acordeon__head .icon {*/
/*    font-size: .80em;*/
/*}*/
/*.acordeon__body {*/
/*    height: 0;*/
/*    transition: height .4s ease-in-out;*/
/*}*/
/*.acordeon__body__menu {*/
/*    list-style: none;*/
/*}*/
/*.acordeon__body__menu li {*/
/*    border-bottom: 0.2px solid rgba(0, 0, 0, 0.3);*/
/*    padding: .90em;*/
/*}*/
/*.acordeon__body__menu li a {*/
/*    display: block;*/
/*    color: #2F2F2F;*/
/*    text-decoration: none;*/
/*    padding: 1em 0 1em 1.5em;*/
/*    font-size: .95em;*/
/*    line-height: 1.2em;*/
/*    font-weight: 600;*/
/*}*/

/*.acordeon__body__menu1 li a {*/
/*    display: block;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    padding: 1em 0 1em 1.5em;*/
/*    font-size: .95em;*/
/*    line-height: 1.2em;*/
/*    font-weight: 600;*/
/*}*/

/*.active {*/
/*    height: 100%;*/
/*}*/