/* The side navigation menu */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #79C4D9, white);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    text-decoration: none;
    display: block;
    transition: 0.3s;
    color: #2F2F2F !important;
}

.nav__link--text {
    font-weight: normal;
    margin-left: 1.2rem;
    font-size: 0.9rem;
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
}

.nav__link--text_main {
    font-weight: bolder;
    font-size: 1.1rem;
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.dropdown-menu {
    position: absolute !important;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

button:focus {
    outline-style: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.notif_ind {
    background: transparent;
    border: 0;
    color: black;
    font-size: 0.9rem;
    border-radius: 10px;
    text-align: center;
}

.nav__avatar--image {
    position: relative;
    border-radius: 50%;
}

.nav__brand {
    grid-column-start: 2;
    justify-self: center;
}

.nome {
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
    font-size: 14px;
    color: #2F2F2F;
}

.menunav {
    vertical-align: middle;
}

.menu_lado {
    cursor: pointer;
}

.alinhar_user {
    min-width: 200px !important;
}

@media only screen and (max-width: 352px) {
    .dropdown-menu1 {
        min-width: 200px !important;
    }
}

@media only screen and (max-width: 476px) {
    .dropdown-menu1 {
        min-width: 250px !important;
    }
    .notif_ind {
        padding: 0.25rem 0.25rem !important;
    }
}

@media only screen and (max-width: 600px) {
    .nome {
        display: none;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-menu {
        margin-top: 5% !important;
        background-color: #ffffff;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        z-index: 1;
        border: none;
        font-family: "Quicksand", 'Montserrat', sans-serif !important;
        min-width: 400px;
        position: absolute;
    }
    .dropdown-menu.tamanho {
        height: 500px;
    }
    .dropdown-menu a {
        color: #2f2f2f;
        padding: 0 11px;
        text-decoration: none;
        display: block;
    }
    .dropdown-menu1 a:hover {
        background-color: #f1f1f1
    }
    .nav__btn2:hover {
        background: #dbdbdb !important;
    }
    .nav__btn3:hover {
        background: #FBC737 !important;
    }
    .nav__btn4:hover {
        background: #C93091 !important;
    }
    .nav__btn2 {
        background: #f2f2f2;
        border: 0;
        color: black;
        font-weight: 600;
        font-size: 0.9rem;
        border-radius: 100rem;
        margin-left: 1rem;
    }
    .dropdown-menu button {
        padding: 0.75rem 2.5rem;
        margin: 0 0 1rem 0;
        width: 100%;
        cursor: pointer;
    }
    .logo {
        width: 69px;
    }
    .padding {
        padding: 0;
    }
    .inicia_nav {
        display: none!important;
    }
    .ui{
        display: none;
    }
}


@media only screen and (min-width: 600px) {
    .nome {
        display: none;
    }
  
    .dropdown {
        position: relative;
        display: inline-block;
    }
  
    .dropdown-menu {
        margin-top: 5% !important;
        background-color: #ffffff;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        z-index: 1;
        border: none;
        font-family: "Quicksand", 'Montserrat', sans-serif !important;
        min-width: 400px;
        position: absolute;
    }
    .dropdown-menu.tamanho {
        height: 500px;
    }
    
    .dropdown-menu a {
        color: #2f2f2f;
        padding: 0 11px;
        text-decoration: none;
        display: block;
    }
  
    .dropdown-menu1 a:hover {
        background-color: #f1f1f1
    }
    .nav__btn2:hover {
        background: #dbdbdb !important;
    }
    .nav__btn3:hover {
        background: #FBC737 !important;
    }
    .nav__btn4:hover {
        background: #C93091 !important;
    }
    .nav__btn2 {
        background: #f2f2f2;
        border: 0;
        color: black;
        font-weight: 600;
        font-size: 0.9rem;
        border-radius: 100rem;
        margin-left: 1rem;
    }
    .dropdown-menu button {
        padding: 0.75rem 2.5rem;
        margin: 0 0 1rem 0;
        width: 100%;
        cursor: pointer;
    }
    .logo {
        width: 85px;
    }
    .logo {
        width: 69px;
    }
    .padding {
        padding: 0;
    }

    .inicia_nav {
        color: #2F2F2F;
        padding: 0.3rem;
        font-size: 14px;
        font-family: "Quicksand", 'Montserrat', sans-serif !important;
        border: 0.1em solid #2F2F2F;
        border-radius: 5px;
        font-weight: 800;
        width: 30%;
        cursor: pointer;
        background: #fff;
    }
    .inicia_nav:hover {
        background-color: #2F2F2F;
        color: #fff;
        border: 0.1em solid #2F2F2F;
    }
}

@media only screen and (min-width: 768px) {
    .nome {
        display: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
   
    .dropdown-menu {
        margin-top: 5% !important;
        background-color: #ffffff;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        z-index: 1;
        border: none;
        font-family: "Quicksand", 'Montserrat', sans-serif !important;
        min-width: 400px;
        position: absolute;
    }
    .dropdown-menu.tamanho {
        height: 500px;
    }

    .dropdown-menu a {
        color: #2f2f2f;
        padding: 0 11px;
        text-decoration: none;
        display: block;
    }

    .dropdown-menu1 a:hover {
        background-color: #f1f1f1
    }
    .nav__btn2:hover {
        background: #dbdbdb !important;
    }
    .nav__btn3:hover {
        background: #FBC737 !important;
    }
    .nav__btn4:hover {
        background: #C93091 !important;
    }
    .nav__btn2 {
        background: #f2f2f2;
        border: 0;
        color: black;
        font-weight: 600;
        font-size: 0.9rem;
        border-radius: 100rem;
        margin-left: 1rem;
    }
    .dropdown-menu button {
        padding: 0.75rem 2.5rem;
        margin: 0 0 1rem 0;
        width: 100%;
        cursor: pointer;
    }
    .logo {
        width: 85px;
    }
    .padding {
        padding-left: 15px;
        padding-right: 15px;
    }
  
    .inicia_nav {
        width: 45%!important;
    }
    .inicia_nav:hover {
        width: 45%!important;
    }
    .ui{
        width: 67% !important;
    }
}

@media only screen and (min-width: 992px) {
    .nome {
        display: inline;
    }
 
    .dropdown {
        position: relative;
        display: inline-block;
    }
   
    .dropdown-menu {
        margin-top: 5% !important;
        position: absolute;
        background-color: #ffffff;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        z-index: 1;
        border: none;
        font-family: "Quicksand", 'Montserrat', sans-serif !important;
        min-width: 400px;
    }
    .dropdown-menu.tamanho  {
        height: 500px;
    }

    .dropdown-menu a {
        color: #2f2f2f;
        padding: 0 11px;
        text-decoration: none;
        display: block;
    }
   
    .dropdown-menu1 a:hover {
        background-color: #f1f1f1
    }
    .nav__btn2:hover {
        background: #dbdbdb !important;
    }
    .nav__btn3:hover {
        background: #FBC737 !important;
    }
    .nav__btn4:hover {
        background: #C93091 !important;
    }
    .nav__btn2 {
        background: #f2f2f2;
        border: 0;
        color: black;
        font-weight: 600;
        font-size: 0.9rem;
        border-radius: 100rem;
        margin-left: 1rem;
    }
    .dropdown-menu button {
        padding: 0.75rem 2.5rem;
        margin: 0 0 1rem 0;
        width: 100%;
        cursor: pointer;
    }
    .logo {
        width: 85px;
    }
    .ui{
        width: 50% !important;
    }
}


@media only screen and (min-width: 1200px) {
    .nome {
        display: inline;
    }
  
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-menu{
        margin-top: 5% !important;
        background-color: #ffffff;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        z-index: 1;
        border: none;
        font-family: "Quicksand", 'Montserrat', sans-serif !important;
        min-width: 400px;
        position: absolute;
    }
    .dropdown-menu.tamanho {
        height: 500px;
    }

    .dropdown-menu a {
        color: #2f2f2f;
        padding: 0 11px;
        text-decoration: none;
        display: block;
    }

    .dropdown-menu1 a:hover {
        background-color: #f1f1f1
    }
    .nav__btn2:hover {
        background: #dbdbdb !important;
    }
    .nav__btn3:hover {
        background: #FBC737 !important;
    }
    .nav__btn4:hover {
        background: #C93091 !important;
    }
    .nav__btn2 {
        background: #f2f2f2;
        border: 0;
        color: black;
        font-weight: 600;
        font-size: 0.9rem;
        border-radius: 10px;
        margin-left: 1rem;
    }
    .dropdown-menu button {
        padding: 0.75rem 2.5rem;
        margin: 0 0 1rem 0;
        width: 100%;
        cursor: pointer;
    }
    .logo {
        width: 85px;
    }
    .ui{
        width: 40% !important;
    }
}

.top {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 1.5rem auto 1.5rem;
    height: 4rem;
    background: #fff;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1)
}

ul {
    list-style: none;
}

.ui {
    font-family: 'Quicksand', 'Montserrat', sans-serif !important;
    font-weight: 700;
    width: 50%;
    cursor: pointer;
    background: #fff;
    padding: 0.3rem;
}

.ui2 {
    font-family: 'Quicksand', 'Montserrat', sans-serif !important;
    border: none !important;
    font-weight: 700;
    width: 80%;
    cursor: pointer;
    background: #fff;
    outline: none;
}