*{

    font-family: Quicksand;
    font-size: 13px;
}

.card{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


/*Sombras e efeito do mouse-hover*/
.efeito_card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/*Mouse-hover da sombra*/
.efeito_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.70);
}

.container {
    padding: 2px 16px;
}

.card-title{
    font-size: 20px;
}


a{

    color:black;
}

a:hover{

    color: dodgerblue;
    text-decoration: dodgerblue;
}

.btn {

    border-radius: 25px;
    padding-left: 45px;
    padding-right: 45px;
}

.teste{

    padding-top: 10px;
}

