/* CARD */

.card-body {
    background-color: white;
    border-radius: 0 0 10px 10px !important;
}

.blockquote>p {
    text-align: justify;
    font-size: 16px !important;
    color: #2f2f2f;
}

.card-header {
    background-color: #D2D2D2;
    text-align: center;
    color: #2f2f2f;
    border-radius: 10px 10px 0 0!important;
    margin: 0;
}

.card-header>h5 {
    font-weight: bold;
    font-family: "Quicksand" !important;
    margin: 0;
}

.estudo {
    background-color: #8DDCFA;
}

.estudo>h5 {
    color: #fff !important;
}

.card {
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    width: 100%;
    border-radius: 10px;
}

.altura {
    height: 427px;
}


/*Disciplina já feitas*/

img.tagpost_thumb {
    float: left;
    margin-right: 12px;
    height: 75px;
    width: 70px;
    transition: all 1s;
    border-radius: 10px;
}

.taglabel {
    display: inline-block;
    float: left;
    width: 100%;
    padding: 0;
    margin: auto;
    border: none;
    font-size: 16px;
}

ul.taglabel li {
    min-height: 75px;
    list-style-type: none;
    margin-bottom: 2%;
}

.clearfix_uni_my_links {
    border-radius: 10px;
    background-color: #f2f2f2;
}


/*BOTÕES*/

.edit_btn {
    width: 40%!important;
    height: 10%!important;
    color: #2f2f2f!important;
    background-color: #D3D3D3!important;
    margin-bottom: 0.3125rem!important;
    text-decoration: none!important;
    cursor: pointer!important;
    display: inline-block!important;
    border-radius: 40px!important;
    font-weight: bold;
    border-color: #D3D3D3!important;
}

.edit_btn:hover {
    width: 40%!important;
    height: 10%!important;
    color: #fff!important;
    background-color: #2F2F2F !important;
    margin-bottom: 0.3125rem!important;
    text-decoration: none!important;
    cursor: pointer!important;
    display: inline-block!important;
    border-color: #2F2F2F!important;
    border-radius: 40px!important;
}

.add_btn {
    width: 70%!important;
    height: 10%!important;
    color: #2f2f2f!important;
    background-color: #D3D3D3!important;
    margin-bottom: 0.3125rem!important;
    text-decoration: none!important;
    cursor: pointer!important;
    display: inline-block!important;
    border-radius: 40px!important;
    margin-top: 5% !important;
    font-weight: bold;
    border-color: #D3D3D3!important;
    font-family: 'Quicksand' !important;
    font-size: 16px !important;
}

.add_btn:hover {
    width: 70%!important;
    height: 10%!important;
    color: #fff!important;
    background-color: #2F2F2F !important;
    margin-bottom: 0.3125rem!important;
    text-decoration: none!important;
    cursor: pointer!important;
    display: inline-block!important;
    border-color: #2F2F2F!important;
    border-radius: 40px!important;
    font-family: 'Quicksand' !important;
    font-size: 16px !important;
    margin-top: 5% !important;
}


/*.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    margin: 0;
}*/


/*PERFIL*/

.image_profile {
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 152px;
    height: 152x;
}


/*videos*/

.titulo_videos {
    font-size: 1.3rem;
    font-family: "Quicksand";
    font-weight: bold;
    max-width: 100%;
    margin-top: 5%;
}

.tam_video {
    width: 239px;
    height: 154px;
    border-radius: 10px !important;
}

.bt_add {
    display: block !important;
    margin: auto !important;
    text-align: center;
    background-color: #d3d3d3;
    color: #2f2f2f !important;
    text-decoration: none !important;
    height: 154px;
    border-radius: 10px !important;
    font-family: "Quicksand";
    font-weight: bold;
}

.bt_add:hover {
    display: block !important;
    margin: auto !important;
    text-align: center;
    background-color: #2f2f2f!important;
    color: #fff !important;
    text-decoration: none !important;
    height: 154px;
    border-radius: 10px !important;
    font-family: "Quicksand";
    font-weight: bold;
}

a {
    text-decoration: none !important;
}


/*modal*/

.modal-footer {
    justify-content: left;
}

.descricao {
    justify-content: left;
    margin-top: 100px;
}

.username_modal {
    margin-top: 15px;
    margin-right: 615px;
    float: right;
}

.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 6px;
}


/*TEXTO*/

h3,
h6,
button.btn.edit_btn {
    font-family: 'Quicksand'
}

.link_title {
    font-weight: bold;
}