.cinza {
    border: 1px solid #d3d3d3;
}

.negrito {
    color: #2F2F2F;
    font-weight: bold;
}

label,
input,
textarea,
h1,
option {
    font-family: "Quicksand";
}

* {
    font-family: "Quicksand";
    color: #2f2f2f !important;
}

.titulo_cinza {
    color: #2F2F2F;
    font-family: "Quicksand";
    font-weight: bold;
}

.publicar_btn {
    width: 75%!important;
    height: 10%!important;
    color: #2f2f2f!important;
    background-color: #D3D3D3!important;
    margin-bottom: 0.3125rem!important;
    text-decoration: none!important;
    cursor: pointer!important;
    display: inline-block!important;
    border-radius: 40px!important;
    margin-top: 5%;
    font-weight: bold;
    border-color: #D3D3D3!important;
}

.publicar_btn:hover {
    width: 75%!important;
    height: 10%!important;
    color: #fff!important;
    background-color: #2F2F2F !important;
    margin-bottom: 0.3125rem!important;
    text-decoration: none!important;
    cursor: pointer!important;
    display: inline-block!important;
    border-color: #2F2F2F!important;
    border-radius: 40px!important;
}

.label_margin {
    margin-left: -1%;
}


/*logo*/

.re_size {
    width: 150px;
    height: auto;
}


/*imagem de fundo*/

.fundo_login {
    background-image: url("../img/fundo_cinza.png");
    width: 100%;
    background-size: cover;
}

.fundo_login_reg {
    background-image: url("../img/fundo_cinza_g_reg.png");
    width: 100%;
    background-size: cover;
}