.cinza {
    border: 1px solid #d3d3d3;
}

.negrito {
    color: #2F2F2F;
    font-weight: bold;
}

label,
input,
textarea,
h1,
option {
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
}

a.small {
    font-size: 14px;
}
a.small:hover {
    color: #00A5CF !important;
}

* {
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
    color: #2f2f2f !important;
}

.descricao {
    font-size: 14px;
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
}

.titulo_cinza {
    color: #2F2F2F;
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
    font-weight: bold;
}
.asterisco {
    color: #00A5CF !important;
    font-weight: bold;
    font-size: 20px;
}

.publicar_btn {
    color: #00A5CF !important;
    padding: 0.3rem;
    font-size: 14px;
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
    border: 0.1em solid #00A5CF;
    border-radius: 5px;
    font-weight: 800;
    width: 60%;
    cursor: pointer;
    background: #fff;
}

.publicar_btn:hover {
    background-color: #00A5CF;
    color: #fff !important;
    border: 0.1em solid #00A5CF;
}

.publicar_btn_reg {
    color: #00A5CF !important;
    padding: 0.3rem;
    font-size: 14px;
    font-family: "Quicksand", 'Montserrat', sans-serif !important;
    border: 0.1em solid #00A5CF;
    border-radius: 5px;
    font-weight: 800;
    width: 40%;
    cursor: pointer;
    background: #fff;
}

.publicar_btn_reg:hover {
    background-color: #00A5CF;
    color: #fff !important;
    border: 0.1em solid #00A5CF;
}



.label_margin {
    margin-left: -1%;
}

.re_size {
    width: 150px;
    height: auto;
}

.fundo_login {
    background-image: url("../img/fundo_cinza.png");
    width: 100%;
    background-size: cover;
}

.fundo_login_reg {
    background-image: url("../img/fundo_cinza_g_reg.png");
    width: 100%;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    .label_margin {
        margin-left: 0;
    }
}

input.invalid {
    background-color: #ffdddd;

}

.tab {
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #00A5CF;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

