#fundo {
    background-color:rgba(242,242,242,0.7);
}
.titulo1 {
    font-family: "Quicksand", sans-serif;
    color: #2F2F2F;
    font-size: 24px;
    font-weight: bold;
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
}

h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.menu_espaco{
    margin-top: 15px;
}