    * {
        color: #2f2f2f;
    }
    
    p {
        font-family: 'Roboto', sans-serif;
    }
    
    .letter {
        font-family: "Quicksand" !important;
        font-weight: bold;
    }
    
    div.alert.alert-warning {
        font-family: "Quicksand" !important;
        font-weight: bold;
    }
    
    input.file-upload.mb-3 {
        font-family: "Quicksand" !important;
    }
    
    label {
        font-family: "Quicksand" !important;
        font-weight: bold;
    }
    
    .label-margin {
        margin-left: -20px;
    }
    
    .events {
        margin-top: 5%;
    }
    
    .inserir_dados {
        margin-top: 5%;
    }
    
    .publicar_btn {
        width: 50%!important;
        height: 10%!important;
        color: #fff!important;
        background-color: #D3D3D3!important;
        margin-bottom: 0.3125rem!important;
        text-decoration: none!important;
        cursor: pointer!important;
        display: inline-block!important;
        border-radius: 40px!important;
        margin-top: 5%;
        font-weight: bold;
        border-color: #D3D3D3!important;
    }
    
    .publicar_btn:hover {
        width: 50%!important;
        height: 10%!important;
        color: #fff!important;
        background-color: #2F2F2F !important;
        margin-bottom: 0.3125rem!important;
        text-decoration: none!important;
        cursor: pointer!important;
        display: inline-block!important;
        border-color: #2F2F2F!important;
        border-radius: 40px!important;
    }
    
    .card {
        border-radius: 10px;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    }