    /**********TEXTO***************/
    
    #wrapper_title {
        padding-top: 3% !important;
        width: 750px;
        max-width: 100%;
    }
    
    .main_title {
        font-size: 1.3rem;
        font-family: "Quicksand";
        font-weight: bold;
        max-width: 100%;
        margin-top: 5%;
    }
    /****************PERCURSO DE APRENDIZAGEM*****************/
    
    #wrapper {
        margin: auto;
        max-width: 100%;
        background-color: #fff;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.17);
        padding: 50px;
        border-radius: 10px;
    }
    
    .imagem {
        width: 100%;
        display: block !important;
        margin: auto !important;
        text-align: center;
    }
    
    .content {
        text-align: center;
        margin-top: 3%;
    }
    
    .content>h5 {
        color: #2f2f2f;
        font-weight: bold;
        font-family: "Quicksand";
    }
    
    .content>p {
        text-align: justify;
        font-size: 12px !important;
    }
    /***********************DESCRIÇÃO DA VAGA**************************/
    
    .card-body {
        background-color: #ffffff;
        border-radius: 0 0 10px 10px !important;
    }
    
    .blockquote>p {
        text-align: justify;
    }
    
    .card-header {
        background-color: #FFEE86;
        text-align: center;
        color: #2f2f2f;
        border-radius: 10px 10px 0 0!important;
    }
    
    .card-header>h5 {
        color: #2f2f2f;
        font-weight: bold;
        font-family: "Quicksand";
    }
    
    .card {
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        width: 100%;
        border-radius: 10px;
    }
    /* Extra small devices (phones, 600px and down) */
    
    @media only screen and (max-width: 600px) {
        .video {
            width: 28vh;
            height: 20vh;
        }
        .separa {
            margin-top: 7%;
        }
        h5 {
            font-size: 16px;
        }
        .blockquote>p {
            font-size: 12px !important;
        }
        .img_percurso {
            height: 120px;
            width: 120px;
        }
        .content>h5 {
            margin-top: 11% !important;
        }
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    
    @media only screen and (min-width: 600px) {
        .video {
            width: 48vh;
            height: 27vh;
        }
        .separa {
            margin-top: 7%;
        }
        .blockquote>p {
            font-size: 14px !important;
        }
        h5 {
            font-size: 16px;
        }
        .blockquote>p {
            font-size: 12px !important;
        }
        .img_percurso {
            height: 150px;
            width: 150px;
        }
        .content>h5 {
            margin-top: 5% !important;
        }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    
    @media only screen and (min-width: 768px) {
        .video {
            width: 68vh;
            height: 38vh;
        }
        /*.altura {*/
        /*    height: 464px;*/
        /*}*/
        .separa {
            margin-top: 0;
        }

        h5 {
            font-size: 16px;
        }
        .img_percurso {
            height: 120px;
            width: 120px!important;
        }
        .content>h5 {
            margin-top: 11% !important;
        }
    }
    /* Large devices (laptops/desktops, 992px and up) 
    
    @media only screen and (min-width: 992px) {}*/
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    
    @media only screen and (min-width: 1200px) {
        h5 {
            font-size: 18px;
        }
        .blockquote>p {
            font-size: 16px !important;
        }
        .content>h5 {
            font-size: 16px;
        }
        /*div.w-75.mx-auto {*/
        /*    width: 750px !important;*/
        /*}*/
    }