    .card {
        border-radius: 10px;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        margin-top: 5%;
        padding: 20px;
    }
    
    * {
        color: #2f2f2f
    }
    
    h3,
    h6,
    input,
    label {
        font-family: "Quicksand" !important;
    }
    
    h3,
    label {
        font-weight: bold;
    }
    
    .label-margin {
        margin-left: -1%;
    }
    /*.guardar_btn {
        width: 40%!important;
        height: 10%!important;
        color: #2f2f2f!important;
        background-color: #D3D3D3!important;
        margin-bottom: 0.3125rem!important;
        text-decoration: none!important;
        cursor: pointer!important;
        display: inline-block!important;
        border-radius: 40px!important;
        font-weight: bold;
        border-color: #D3D3D3!important;
    }
    
    .guardar_btn:hover {
        width: 40%!important;
        height: 10%!important;
        color: #fff!important;
        background-color: #2F2F2F !important;
        margin-bottom: 0.3125rem!important;
        text-decoration: none!important;
        cursor: pointer!important;
        display: inline-block!important;
        border-color: #2F2F2F!important;
        border-radius: 40px!important;
    }*/
    
    .cancel_btn {
        width: 40%!important;
        height: 10%!important;
        color: #2F2F2F!important;
        margin-bottom: 0.3125rem!important;
        text-decoration: none!important;
        cursor: pointer!important;
        display: inline-block!important;
        border-radius: 40px!important;
        font-weight: bold;
        border-color: #D3D3D3!important;
    }
    
    .cancel_btn:hover {
        width: 40%!important;
        height: 10%!important;
        color: #2F2F2F!important;
        margin-bottom: 0.3125rem!important;
        text-decoration: none!important;
        cursor: pointer!important;
        display: inline-block!important;
        border-color: #2F2F2F!important;
        border-radius: 40px!important;
    }
    /*IMAGEM DE PERFIL*/
    
    .image_profile {
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        width: 152px;
        height: 152x;
    }
    /*imagem de fundo*/
    
    .fundo_login {
        background-image: url("../img/fundo_cinza_g.png");
        width: 100%;
        background-size: cover;
    }
    /*form*/